<!DOCTYPE html>
<html lang="es">
	<head>
		{% block title%}{% endblock %}
		<meta charset="utf-8">
		<style>
			* {
				font-family:Arial;
				box-sizing:border-box;
				padding:0;
				margin:0;
			}
			nav {
				background-color:#8f97a1;
			}
			ul {
				list-style-image:none;

			}
			ul li {
				display:inline-block;
				padding:10px;
			}
			a {
				text-decoration:none;
				color:white;
			}
			a:hover {
				color:black;
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/sign-in">Sign-In</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>