{% extends 'base.html' %}

{% block title %}
    <title>ec2</title>
    <style>
        input[type="radio"] {
            visibility:hidden;

        }
        label {
            cursor:pointer;
        }
        input:checked + label {
            background-color:blue;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 style="text-align:center; margin:15px 0px;">Crear Instancias</h2>
    <form method="POST" class="form-group" style="width: 80%; margin: auto;">
        <label for="instanceName">Nombre de la Instancia</label>
         <input type="text" class="form-control" id="instanceName" name="instanceName"
                placeholder="Escribe el nombre de la instancia:">
        <label>Sistema Operativo</label>
        <br>
        <input type="radio" class="btn-check" name="so" id="option1"
               autocomplete="off" checked value="AmazonLinux"
        >
        <label class="btn btn-secondary" for="option1">Amazon Linux</label>

        <input type="radio" class="btn-check" name="so" id="option2"
               autocomplete="off" value="Ubuntu"
        >
        <label class="btn btn-secondary" for="option2">Ubuntu</label>

        <input type="radio" class="btn-check" name="so" id="option3"
               autocomplete="off" value="WinServer"
        >
        <label class="btn btn-secondary" for="option3">Windows Server</label>
        <input type="radio" class="btn-check" name="so" id="option4"
               autocomplete="off" value="Debian"
        >
        <label class="btn btn-secondary" for="option4">Debian</label>
        <br>

        <label for="keypair">Par de Claves</label>
        <input type="text" class="form-control" id="keypair" name="keypair"
                placeholder="Escribe el nombre del par de claves:">

        <label for="instnum">¿Cuántas quieres crear?</label>
        <input type="number" class="form-control" id="instnum" name="instnum"
                placeholder="Escribe el nombre del par de claves:" min="1" max="10">



        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>


    </form>
{% endblock %}