{% extends 'base.html' %}

  {% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <h2 style="text-align:center; margin:15px 0px;">Log In</h2>
    <form method="POST" class="form-group" style="width: 80%; margin: auto;">
      <label for="username" class="text-secondary">UserName</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Pon tu nombre de usuario:">
      <br>
      <label for="password1">Contraseña</label>
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Pon tu contraseña:">
      <br>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
{% endblock %}

