{% extends 'base.html' %}

  {% block title %}
    <title>Instancias</title>
<style>
        input[type=radio] {
            visibility:hidden;
        }
        label {
            cursor:pointer;
            margin-top:10px;
        }
        input:checked + label {
            background-color:blue;
        }
        form {
            width:80%;
            margin:auto;
        }
        button.enviar {
            margin:10px auto;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="text-center mt-4">Mis Instancias</h2>
    <form method='POST' class="form-group">
        <table class="table">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Sistema Operativo</th>
                    <th scope="col">Iniciar</th>
                    <th scope="col">Parar</th>
                </tr>
              {% for Instancia in user.Instance %}
                <tr>
                    <th scope="row">{{ Instancia.name }}</th>
                    <td>{{ Instancia.opsys }}</td>
                    <td>
                        <input type="radio" class="btn-check" name="orden{{ Instancia.name }}" id="parar{{ Instancia.name }}"
                            autocomplete="off" value="Parar"
                         >
                        <label class="btn btn-secondary" for="parar{{ Instancia.name }}">Parar Instancia</label>
                    </td>
                    <td>
                        <input type="radio" class="btn-check" name="orden{{ Instancia.name }}" id="iniciar{{ Instancia.name }}"
                            autocomplete="off" value="Iniciar"
                        >
                        <label class="btn btn-secondary" for="iniciar{{ Instancia.name }}">Iniciar Instancia</label>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary enviar">Enviar</button>
    </form>


{% endblock %}